@model BlogSite.Models.Message
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Details";
    string id = "d3bd0135-480e-4f78-af92-74af83b6e6a3";
    bool IsAdmin = id == UserManager.GetUserId(User);
    string name = User.Identity.Name;
}
@if (IsAdmin || name == Model.Author)
{
    <div class="container-fluid form_container msg_container">
        <div class="msg_info">
            <h3>Message from @Model.Author</h3>
            <p class="msg_p">Sent at @Model.Time_Sent</p>
            @if (IsAdmin)
            {
                <p class="msg_p">Message Id: @Model.Id</p>
            }
        </div>
        <div class="message">
            <h4>Subject: @Model.Subject</h4>
            <p>@Html.DisplayFor(model => model.Message_Text)</p>
        </div>
        <div class="msg_extra">
            <p class="msg_p">Phone Number: @Model.PhoneNumber</p>
        </div>
        <div>
            <a class="btn btn-primary" asp-action="Index">Back to your messages</a>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <h1>You are not the original poster of this comment!!</h1>
        <a class="btn btn-danger" asp-controller="BlogPosts" asp-action="Index">Go back</a>
    </div>
}